{% extends "base.html.jinja" %}

{% block title %}Страница Еды{% endblock %}

{% block content %}
    <h2>Страница Еды</h2>
    <p>Здесь вы можете разместить информацию о различных видах еды в вашей игре, рецептах или кулинарных особенностях мира.</p>
    <p>Например:</p>
    <ul>
        <li>**Эльфийский Лембас:** Питательный хлеб, восстанавливающий силы.</li>
        <li>**Дварфское рагу:** Сытное блюдо для долгих походов.</li>
        <li>**Зелье Силы:** На короткое время увеличивает мощь.</li>
    </ul>
{% endblock %}