{% extends "base.html.jinja" %}
{% block title %}Все расы{% endblock %}
{% block content %}
    <h1>Список рас</h1>
    {% if user %}
        <a href="{{ url_for('races.create_race') }}" class="button">Создать новую расу</a>
    {% endif %}
    {% for race in races %}
        <div class="race-item">
            <h2><a href="{{ url_for('races.view_race', race_id=race.id) }}">{{ race.name }}</a></h2>
            {% if race.image_url %}
                <img src="{{ race.image_url }}" alt="Картинка расы" style="max-width:200px;">
            {% endif %}
            <p>{{ race.description | nl2br }}</p>
        </div>
    {% endfor %}
{% endblock %}