{% extends "base.html.jinja" %}

{% block title %}Список Подклассов{% endblock %}

{% block content %}
    <h1>Список подклассов</h1>
    {% if user %}
        <a href="{{ url_for('subclasses.create_subclass') }}" class="button">Создать новый подкласс</a>
    {% endif %}
    
    {% for subclass in subclasses %}
        <div class="subclass-item">
            <h2><a href="{{ url_for('subclasses.view_subclass', subclass_id=subclass.id) }}">{{ subclass.name }}</a></h2>
            <p>Класс: <a href="{{ url_for('classes.view_class', class_id=subclass.class_id) }}">{{ subclass.parent_class.name }}</a></p>
        </div>
    {% endfor %}
{% endblock %}